# dependencies
node_modules/

# next.js
.next/
out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*

# env
.env*.local
.env

# backend build output
backend/dist/

# typescript
*.tsbuildinfo
next-env.d.ts
